:host {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  touch-action: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container > div,
.container > canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.option-button {
  position: absolute;
  bottom: 1em;
  right: 1em;
  width: 50px;
  height: 50px;
  padding: 10px;
  border-radius: 50%;
  border: 2px solid #012;
  background-color: #012;
  color: #def;
  z-index: 99;
}

.option-button:hover {
  background-color: #bbddee;
  color: #001122;
}
.option-button:active {
  transform: translateY(1px);
  background-color: #bbddee;
  color: #001122;
}

.option-icon {
  display: block;
  width: 100%;
  height: 100%;
}

.options-container {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: #eeeeeeaa;
  margin: 0;
  padding: 20px;
  /*border: 5px solid black;*/
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 99;
}
