.popup {
  display: block;
  position: absolute;

  opacity: 0;
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  background: #fff8;

  bottom: 100%;
  left: 0;

  pointer-events: none;

  contain: content;
  will-change: transform, contents;
}
