---
title: Farey Fractions
description: "Interactively view Farey-Fractions on a number line."
tags: ["projects"]
nav:
  key: "Web Apps::Farey Fractions"
layout: "main.njk"
layout_type: "fullscreen"
---
<script src="{% urlCheck '/scripts/FareyFractions.js', collections.all %}"></script>
<test-app>This app requires javascript.</test-app>