---
title: Hyperbola
description: "Some images for my thesis."
tags: ["projects"]
nav:
  key: "Web Apps::Hyperbolamethod"
layout_type: "fullscreen"
---
<script src="{{'/scripts/Hyperbolamethod.js' | link}}"></script>
<hyperbola-app>This app requires javascript.</hyperbola-app>