---
title: Hyperbola
description: "Some images for my thesis."
tags: ["projects"]
nav:
  key: "Web Apps::Hyperbolamethod"
layout_type: "fullscreen"
---
<script src="{% urlCheck '/scripts/Hyperbolamethod.js', collections.all %}"></script>
<hyperbola-app>This app requires javascript.</hyperbola-app>