---
title: Small Projects
description: "List of all projects"
layout: main.njk
nav:
  key: All Projects
---
<style>
.project-card-a {
  text-decoration: none;
}

.project-card {
  position: relative;
  display: grid;
  align-items: center;
  position: relative;

  background: black;
  color: white;

  min-height: 150px;

  box-sizing: content-box;
  margin-top: 20px;
  border-radius: 10px;
  border: 2px solid black;
}

.project-card {
  text-decoration: none;
}

.project-card h1 {
  color: currentColor;
  text-decoration: underline dotted;
  font-size: 1.5em;
}

.project-card:hover {
  background: #111111;
}

.project-card:hover h1 {
  color: currentColor;
  text-decoration: underline;
}

.project-icon {
  display: block;
  position: absolute;
  opacity: 0.4;
  width: 150px;
  height: 100%;
}
.project-text {
  display: block;
  position: relative;
  padding: 0.5em 2em;
}

@media(min-width: 600px) {
  .project-card {
    grid-template-columns: 150px auto;
  }
  .project-icon {
    display: block;
    position: static;
    opacity: 1;
  }
  .project-text {
    padding: 0.5em 1em;
  }
</style>

{% for test in collections.projects %}
<a class="project-card-a" href="{{test.url}}">
<div class="project-card">
<div class="project-icon">{{test.data.icon | safe}}</div>
<div class="project-text">
<h1>{{test.data.title}}</h1>
<p>{{test.data.description}}</p>
</div>
<div style="clear: both;"></div>
</div>
</a>
{% endfor %}

</div>

