---
title: Congruence Subgroups
description: "A visualisation of congruence subgroups"
nav:
  key: "Web Apps::Congruence Subgroups"
layout_type: "fullscreen"
---
<script src="{{ '/scripts/SubgroupsWC.js' | link }}"></script>
<subgroups-wc></subgroups-wc> 