---
title: Congruence Subgroups
description: "A visualisation of the fundamental domain for congruence subgroups."
nav:
  key: "Web Apps::Congruence Subgroups (old)"
layout: "main.njk"
layout_type: "fullscreen"
---
<script src="{% urlCheck '/scripts/main.js', collections.all %}" defer></script>
<moebious-canvas></moebious-canvas>