---
title: Congruence Subgroups
description: "A visualisation of congruence subgroups"
nav:
  key: "Web Apps::Congruence Subgroups"
layout: "main.njk"
layout_type: "fullscreen"
---
<script src="{% urlCheck '/scripts/SubgroupsWC.js', collections.all %}"></script>
<subgroups-wc></subgroups-wc>