<style>
@font-face {
    font-family: 'LinuxLibertine';
    src: url('{{ "/fonts/linlibertine_r.woff2" | link }}') format('woff2'),
         url('{{ "/fonts/linlibertine_r.woff" | link }}') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}  
</style>