<style>
@font-face {
    font-family: 'LinuxLibertine'; /* normal */
    src: url('{{ "/fonts/LinLibertine_R.woff" | link }}') format('woff'),
       url('{{ "/fonts/LinLibertine_R.ttf" | link }}') format('truetype');
}     
</style>
<link rel="preload" href="{{ '/fonts/LinLibertine_R.woff' | link }}" as="font" type="font/woff"/>