<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% include "_page_header.njk" %}
    {% include "_fonts.njk" %}
    <style>
      {% inline 'essentials.pcss' %}
    </style>
    <link rel="stylesheet" href="{{ "/katex/katex.min.css" | link }}" />
  </head>
  <body>
    <style>
      :root {
        --sidebar-bg: black;
        --sidebar-fg: white;
        --sidebar-top-height: 50px;
      }

      body {
        display: grid;
        font-family: 'LinuxLibertine', 'Times New Roman', Serif;
        grid-template-columns: 350px 1fr;
        grid-template-rows: var(--sidebar-top-height) 1fr;
        box-sizing: border-box;
      }
      .nav-top-bar {
        grid-column: 1/3;
        grid-row: 1;
        background-color: #ff000055;
      }
      nav .katex {
        font-size: 1em !important;
      }

      .n-ul1 {
        display: block;
        font-size: 1.5rem;
        list-style: none;
        padding: 0 0.5em;
      }
      .n-ul2 {
        display: block;
        font-size: 1.5rem;
        list-style: none;
        padding: 0 0.75em;
      }
      .n-li1 {
        margin: 1em 0;
      }

      main {
        position: relative;
        grid-column: 1/3;
        grid-row: 2;
        overflow: auto; 
      }

      .nav-sidebar {
        position: relative;
        grid-column: 1; 
        background-color: var(--sidebar-bg);
        color: var(--sidebar-fg);
        font-size: 1.25rem;

        transform: translateX(-100%);
        transition: transform 150ms ease-in-out;
        z-index: 999;
      }

      .nav-home-top {
        grid-row: 1;
        grid-column: 1;
        padding-left: var(--sidebar-top-height);
        display: flex;
        align-items: center;
      }

      .nav-home-top a {
        font-size: 1.5rem;
        border-bottom: 1px dotted white;
        text-decoration: underline dotted;
        color: currentColor;
      }

      .nav-home-top a:hover {
        font-size: 1.5rem;
        text-decoration: underline;
      }

      #nav-sidebar {
        overflow: auto;
      }

      .nav-sidebar a {
        color: currentColor;
        text-decoration: none;
        border-bottom: 1px dotted white;
      }
      .nav-sidebar a:hover {
        border-bottom-style: solid;
      }

      .nav-list-1,
      .nav-list-2 {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 0.25em;
        align-items: center;
        padding: 0;
      }

      .nav-list-1 {
        gap: 1.5em;
        margin: 1em;
      }
      .nav-item-1,
      .nav-item-2 {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      .nav-item-1 > span::before,
      .nav-item-1 > span::after {
        content: " - ";
      }
      .nav-item-1 > span {
        margin-bottom: 0.5em;
      }
      #nav-sidebar-checkbox {
        position: absolute;
        transform: translateX(-100%);
      }
      #nav-sidebar-checkbox:checked ~ .nav-sidebar {
        transform: translateX(0);
      }
      #nav-sidebar-checkbox-label {
        position: absolute;
        display: block;
        cursor: pointer;
        padding: 10px;
        right: 0;
        height: 100%;
        width: var(--sidebar-top-height);
        color: black; /* TODO */
        transform: translateX(100%);
      }
      #nav-sidebar-checkbox-label:hover {
        background-color: #55555577;
      }
      #nav-sidebar-checkbox:checked ~ .nav-sidebar #nav-sidebar-checkbox-label {
        color: var(--sidebar-fg);
        transform: translateX(0);
      }

      @media (min-width: 1200px) {
        .nav-home-top {
          display: none;
        }
        /* Always visible sidebar */
        .nav-sidebar {
          transform: translateX(0);
        }
        #nav-sidebar-checkbox-label {
          display: none;
        }

        main {
          grid-column: 2;
        }
      }
    </style>
    <input
      id="nav-sidebar-checkbox"
      type="checkbox"
      aria-label="Toggle sidebar"
    />
    <aside
      class="nav-sidebar"
      style="
        grid-row: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-bottom: 1px solid white;
      "
    >
      <a href="{{ "/" | link }}">Leo's Website</a>
      <label for="nav-sidebar-checkbox" id="nav-sidebar-checkbox-label">
        <svg viewBox="0 0 10 10" style="width: 100%; height: 100%">
          <path
            d="M0,2 10,2M0,5 10,5M0,8 10,8"
            stroke="currentColor"
            stroke-width="1"
          />
        </svg>
      </label>
    </aside>
    <aside id="nav-sidebar" class="nav-sidebar" style="grid-row: 2">
      <nav class="nav-list-container">
        {% navigation_html collections.all, { list_classes: ["nav-list-1",
        "nav-list-2"], item_classes: ["nav-item-1", "nav-item-2"] } %}
      </nav>
    </aside>
    <div class="nav-home-top">
      <a href="{{ '/' | link }}">Leo Schäfer</a>
    </div>

    <main id="content-root">{% include "_page_content.njk"%}</main>
  </body>
</html>
